

<div class="recipeCreation" >
<%= form_for @recipe, html: {multipart: true} do |f| %>
<div>
  Name: <%= f.text_field :name, class:"form-control" %>
</div>
<br>
<div>
  Description:

  <%= f.text_field :description, class:"form-control" %>
</div>
<br>
<div>
Serves:
    <br>
  <%= f.text_field :serves, class:"form-control" %>
</div><br>
<div>
Prep:
    <br>
  <%= f.text_field :prep, class:"form-control" %>
</div><br>
<div>
Cook:
    <br>
  <%= f.text_field :cook, class:"form-control" %>
</div><br>
<div>
  Ingredients:
    <br>
  <%= f.text_field :ingredients, class:"form-control" %>
</div><br>
<div>
Instruction:
    <br>
  <%= f.text_field :instruction, class:"form-control" %>
</div><br>
<div>
Image:
    <br>
  <%= f.cl_image_upload :image %>
</div><br>
<div>
  <%= f.label :cuisine_id, 'Cuisine:' %>
  <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name, prompt: 'Please choose the cuisine'  %>
  </div>
<%= f.submit 'Submit', class: "btn btn-outline-info" %>
<% end %>
</div>
