
<h2><%= @recipe.name %></h2>

<br>
<p><%= @recipe.description %></p>

<%=cl_image_tag  @recipe.image, size:"300x300", alt: @recipe.name, class: 'eachrecipeimge'%>

</br>

<% if @current_user.present? %>
   <%# Only show the following links if the user is logged in %>
  <% if @current_user.favourites.include? @recipe %>
    <%= link_to 'Remove from your Favourite list', unfavourite_recipe_path(@recipe.id) %>
  <% else %>
    <%= link_to 'Add to your Favourite list', favourite_recipe_path(@recipe.id) %>
  <% end %>
  |
  <% if @current_user == @recipe.user %>
       <%= link_to 'Edit', edit_recipe_path(@recipe) %>
       |
       <%= link_to 'Delete', recipe_path(@recipe),
               method: 'delete',
               data: { confirm: 'Are you sure?' } %>
  <% end %>


<% end %>




<p>Name: <%= @recipe.name %></p>
<p>Description: <%= @recipe.description %></p>
<p>Serves: <%= @recipe.serves %></p>
<p>PREP: <%= @recipe.prep %></p>
<p>Cook: <%= @recipe.cook %></p>
<textarea name="textarea" rows="10" cols="50">Ingredients: <%= @recipe.ingredients %></textarea>
<p>Instruction: <%= @recipe.instruction %></p>

</br>


<h4>Reviews:</h4>

<% @recipe.reviews.each do |review| %>

<p> <i class="fas fa-thumbs-up"></i></i></i><%= review.rating%></p>
<p>Comment:<%= link_to review.comment, review_path(review.id)%></p>

<%= link_to 'Add a review', new_review_path %>


<% end %>


<%= form_tag reviews_path do%>

  <fieldset>
    <%= label_tag :rating %>
    <%= text_field_tag :rating%>
  </fieldset>
  <fieldset>
    <%= label_tag :comment %>
    <%= text_area_tag :comment %>
  </fieldset>
  <%= hidden_field_tag :recipe_id, "#{@recipe.id}" %>

  <%= submit_tag %>
<% end %>
