
<div class="cuisinelogin" >
<%= form_for @cuisine,html: {multipart: true} do |f| %>

<span>
  <%= f.label :name %>
    <br>
  <%= f.text_field :name, class:"form-control" %>
</span>
<span>
  <%= f.label :image %>
  <br>
  <%= f.cl_image_upload :image, class: "btn btn-outline-info" %>
</span>
<br>
<br>
<%= f.submit 'Submit', class: "btn btn-outline-info" %>
<% end %>
</div>
