

<h1>Review by <%= @review.user.name %> for <%= @review.restaurant.name %></h1>
<% if @review.user == @current_user %>
 <%= link_to 'EDIT', edit_review_path %>
 <%= link_to 'DELETE', review_path, method: 'delete' %>
<% end %>
<div>
 <div>
   <p><%= @review.comment %></p>
 </div>
 <div>
   <%= @review.rating %> / 5.0
 </div>

</div>
